sfdx-components/force-app/main/default/flows/X01_UpdateQuoteFromBot.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>setcurrentLineItemId</name>
        <label>setcurrentLineItemId</label>
        <locationX>396</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>currentLineItemId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopLineItems.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createNewQLine</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkIfQuantityModified</name>
        <label>checkIfQuantityModified</label>
        <locationX>396</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>LoopLineItems</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isModified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentLineItemId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>InputLineItemEntry.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateQuantity</targetReference>
            </connector>
            <label>isModified</label>
        </rules>
    </decisions>
    <interviewLabel>01 UpdateQuoteFromBot {!$Flow.CurrentDateTime}</interviewLabel>
    <label>01 UpdateQuoteFromBot</label>
    <loops>
        <name>LoopLineItems</name>
        <label>LoopLineItems</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <collectionReference>getOldQuoteLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>setcurrentLineItemId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateCloseOldQuote</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createNewQLine</name>
        <label>createNewQLine</label>
        <locationX>396</locationX>
        <locationY>758</locationY>
        <assignRecordIdToReference>newLineId</assignRecordIdToReference>
        <connector>
            <targetReference>checkIfQuantityModified</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>LoopLineItems.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discount</field>
            <value>
                <elementReference>LoopLineItems.Discount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityLineItemId</field>
            <value>
                <elementReference>LoopLineItems.OpportunityLineItemId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>LoopLineItems.PricebookEntryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>LoopLineItems.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <elementReference>LoopLineItems.Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuoteId</field>
            <value>
                <elementReference>newQuoteId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>LoopLineItems.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <object>QuoteLineItem</object>
    </recordCreates>
    <recordCreates>
        <name>createNewQuote</name>
        <label>createNewQuote</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignRecordIdToReference>newQuoteId</assignRecordIdToReference>
        <connector>
            <targetReference>LoopLineItems</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>getOldQuote.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContractId</field>
            <value>
                <elementReference>getOldQuote.ContractId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>getOldQuote.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>getOldQuote.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>getOldQuote.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>getOldQuote.OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>getOldQuote.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordCreates>
    <recordCreates>
        <name>Publish_Request_PDF_creation_Event</name>
        <label>Publish Request PDF creation Event</label>
        <locationX>176</locationX>
        <locationY>1430</locationY>
        <inputAssignments>
            <field>Quote_ID__c</field>
            <value>
                <elementReference>newQuoteId</elementReference>
            </value>
        </inputAssignments>
        <object>Request_Quote_PDF_Creation__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getOldQuote</name>
        <label>getOldQuote</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getOldQuoteLineItems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oldQuoteId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOldQuoteLineItems</name>
        <label>getOldQuoteLineItems</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createNewQuote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oldQuoteId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>ListPrice</queriedFields>
        <queriedFields>OpportunityLineItemId</queriedFields>
        <queriedFields>PricebookEntryId</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>Subtotal</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>TotalPrice</queriedFields>
        <queriedFields>Discount</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCloseOldQuote</name>
        <label>UpdateCloseOldQuote</label>
        <locationX>176</locationX>
        <locationY>1310</locationY>
        <connector>
            <targetReference>Publish_Request_PDF_creation_Event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOldQuote.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateQuantity</name>
        <label>updateQuantity</label>
        <locationX>264</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>LoopLineItems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newLineId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <elementReference>inputQuantity</elementReference>
            </value>
        </inputAssignments>
        <object>QuoteLineItem</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getOldQuote</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentLineItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InputLineItemEntry</name>
        <apexClass>QuoteLineItemEntry</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>newLineId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newQuantityValueForLoop</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newQuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>createNewQuote</elementReference>
        </value>
    </variables>
    <variables>
        <name>oldQuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>updatedLineItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
